.container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  
  .dark-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #121212;
  }
  
  .container:hover .dark-overlay {
    opacity: 0.97;
    cursor: pointer;
  }
  
